<h1>About</h1>
<p>This is my 1st Ruby on Rails project. I pretty much mimicing pinterest with my own style. This project is simply for me to learn the basics of ruby as I decided on my own application to build. </p>
